{"openapi":"3.0.1","info":{"title":"Physical Documents","description":"The Physical Document Search and Download Service allows you to search for and retrieve company Insurance, Transcripts and Filings documents. Filings include annual and quarter-period reports from EDGAR as well as S&P Global sourced Annual Reports, Quarterly, supplemental, and ESG documents. Transcripts include company conference presentations, guidance/update calls, earnings calls, and a range of other event types. SNL Insurance Product Filings consist of SERFF Filings shared by U.S. Insurance companies that are regulated by the NAIC and offer insurance product rates. We also support Bulk Download service for all documents based on broader search criteria.\n<br/><ul>\n<li><b>Filings</b> – See the <a target=\"_blank\" href=\"https://www.support.marketplace.spglobal.com/en/datasets/alternative/filings/machine-readable-filings-user-guide\">Machine Readable Filings User Guide</a> for more information.*</li>\n<li><b>Transcripts</b> – See the <a target=\"_blank\" href=\"https://www.support.marketplace.spglobal.com/en/datasets/alternative/transcripts/transcripts-user-guide\">Transcripts User Guide</a> for more information.</li>\n<li><b>SNL Insurance Product Filings</b> – See the <a target=\"_blank\" href=\"https://www.support.marketplace.spglobal.com/en/datasets/snl/snlinsuranceproductfilings/snl-insurance-product-filings-user-guide\"> SNL Insurance Product Filings User Guide</a> for more information.</li>\n</ul>\n<br/><b>Note:</b>\n<ul>\n  <li>This API is rate-limited to 1 request per second.</li>\n  <li>Throttling Limit of 48,000(Daily) and 2000(Hourly) is applied for the total number of requests on Production account.</li>\n  <li>Throttling Limit of 12,000(Daily) and 500(Hourly) is applied for the total number of requests on Trial account.</li>\n  <li>Throttling Limit of 100,000(Daily) is applied for the total number of download request using Bulk Download endpoint on Production account.</li>\n  <li>Throttling Limit of 10(Daily) is applied for the total number of requests using Bulk Download endpoint on Production account.</li>\n</ul>\n<br/><b>Disclaimer:</b>\n<br/><i>*Machine translation: S&P Global utilizes a mixture of human translation and machine translation technologies for non-English language documents. Where machine translation is utilized, there may be a chance of varied articulations, junk characters and so on. Please note that for a small number of filing sources we are returning only the machine translated versions of the original document.</i><br/><br/>","termsOfService":"https://www.spglobal.com/en/terms-of-use","contact":{"name":"Client Support","url":"https://www.spglobal.com/en/contact-us","email":"support.api.mi@spglobal.com"},"version":"0.1.0"},"servers":[{"url":"https://api-ciq.marketintelligence.spglobal.com/gds/documents"}],"security":[{"BearerScheme":[]}],"paths":{"/api/v1/search":{"post":{"tags":["01. Search"],"summary":"This endpoint allows you to retrieve the details required for the original version(s) of documents based on your search criteria.","description":"<p></p>Begin your document search by specifying the document type in the primary filter, <b>docType</b>, in the Parameters section below. Select the appropriate value for your search.\n<ul>\n  <li>FILINGS_DOCUMENTS_API for Filings</li>\n  <li>TRANSCRIPTS_DOCUMENTS_API for Transcripts</li>\n  <li>INSPRODFILINGS_DOCUMENTS_API for SNL Insurance Product Filings</li>\n</ul>\n</br></br>\nSimply input each required and optional parameter in the query. The unique filters by docType are listed below.\n<ul>\n  <li><b><u>Required Filters:</u></b>\n    <ul>\n      <li><b>Filings Documents:</b> Choose either companyId (limit 10) or institutionId (limit 10) and choose at least one additional pair of Date filters:\n          <br/>minFilingDate/maxFilingDate, minPeriodDate/maxPeriodDate, minProcessedDate/maxProcessedDate (limitation 90 days per request for all date filter pairs).\n      </li>\n      <li><b>Transcripts Documents:</b>\n        <ul>\n          <li>Choose either companyId (limit 10) or institutionId (limit 10) and minTranscriptCreationDate/maxTranscriptCreationDate (limitation 90 days per request) and documentFormatTypeId (limit 1), or</li>\n          <li>Choose either ciqKeyDevId (limit 10) or miKeyDevId (limit 10) and documentFormatTypeId (limit 1), or</li>\n          <li>Choose minTranscriptCreationDate/maxTranscriptCreationDate (limitation 1 day) and documentFormatTypeId (limit 1).</li>\n        </ul>\n      </li>\n      <li><b>SNL Insurance Product Filings Documents:</b> Choose either companyId (limit 10) or institutionId (limit 10) and minPublishDate/maxPublishDate (limitation 365 days per request) and serffFilingStateId and filingStatusId. </li>\n    </ul>\n  </li>\n  <li><b><u>Optional Filters:</u></b> Each document type offers optional parameters for you to refine the set of documents. Choose from the available optional filters in each document type:\n    <ul>\n      <li><b>Filings Documents:</b> fileTypeId, languageId, fileSource</li>\n      <li><b>Transcripts Documents:</b> fileTypeId, languageId, fileSource</li>\n      <li><b>SNL Insurance Product Filings Documents:</b> spStatEntityId, trackingNumber, typeOfInsuranceId, serffFilingTypeId</li>\n    </ul>\n  </li>\n</ul>\nSome file sources might require additional capabilities. If you wish to update your subscription, please reach out to your account representative/Enterprise API Support <a href ='mailto:support.api.mi@spglobal.com'>support.api.mi@spglobal.com</a>. <br/><br/>\nSee the Reference endpoint for the lookup values for the optional filters.","operationId":"documentSearch","parameters":[{"name":"docType","in":"query","description":"Select document type from available document services.\nThe available document types currently include:\n<ul>\n<li><b>Filings</b> – See the <a target=\"_blank\" href=\"https://www.support.marketplace.spglobal.com/en/datasets/alternative/filings/machine-readable-filings-user-guide\">Machine Readable Filings User Guide</a> for more information.</li>\n<li><b>Transcripts</b> – See the <a target=\"_blank\" href=\"https://www.support.marketplace.spglobal.com/en/datasets/alternative/transcripts/transcripts-user-guide\">Transcripts User Guide</a> for more information.</li>\n<li><b>SNL Insurance Product Filings</b> – See the <a target=\"_blank\" href=\"https://www.support.marketplace.spglobal.com/en/datasets/snl/snlinsuranceproductfilings/snl-insurance-product-filings-user-guide\"> SNL Insurance Product Filings User Guide</a> for more information.</li>\n</ul>","required":true,"schema":{"type":"string","enum":["FILINGS_DOCUMENTS_API","TRANSCRIPTS_DOCUMENTS_API","INSPRODFILINGS_DOCUMENTS_API"]}}],"requestBody":{"description":"See the above mentioned respective User Guides for more information on pageSize and pageNumber. The following sample requests include the mandatory and a selection of optional filters per document type.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentRequest"},"examples":{"Filings Example 1 - Document Search with all filters":{"summary":"Filings Example 1 - Document Search with all filters","description":"The above example showcases all available required and optional filters for demonstrative purposes only. These are the filters that are available for you to customize your request.","value":{"properties":{"companyId":[383838717],"institutionId":[7700908],"minFilingDate":"2020-04-01","maxFilingDate":"2020-04-30","minPeriodDate":"2019-12-01","maxPeriodDate":"2019-12-31","minProcessedDate":"2020-04-01","maxProcessedDate":"2020-04-30","fileTypeId":[687],"languageId":[0,1,2],"fileSource":["EDGAR_SYSTEM","SP_GLOBAL"],"pageNumber":1,"pageSize":500}}},"Filings Example 2 - Document Search with institutionId and filingDate":{"summary":"Filings Example 2 - Document Search with institutionId and filingDate","description":"The above example returns all available documents for Time Warner Cable Information Services (Pennsylvania), LLC and Ohio Power Company with a filing date starting on April 1, 2020, and ending on April 30, 2020.","value":{"properties":{"institutionId":[7700908,4057015],"minFilingDate":"2020-04-01","maxFilingDate":"2020-04-30"}}},"Filings Example 3 - Document Search with companyId and periodEndDate":{"summary":"Filings Example 3 - Document Search with companyId and periodEndDate","description":"The above example returns all available documents for Time Warner Cable Information Services (Pennsylvania), LLC and Ohio Power Company with period date starting on January 1, 2020, and ending on March 30, 2020.","value":{"properties":{"companyId":[383838717,3063105],"minPeriodDate":"2020-01-01","maxPeriodDate":"2020-03-30","pageNumber":1,"pageSize":500}}},"Filings Example 4 - Document Search with InstitutionId and filingDate for STOCK_EXCHANGE fileSource":{"summary":"Filings Example 4 - Document Search with InstitutionId and filingDate for STOCK_EXCHANGE fileSource","description":"The above example returns all available documents from STOCK_EXCHANGE source for a company with filing date on September 15, 2021.","value":{"properties":{"institutionId":[4991556],"fileSource":["STOCK_EXCHANGE"],"minFilingDate":"2021-09-15","maxFilingDate":"2021-09-15"}}},"Transcripts Example 1 - Document Search with all filters":{"summary":"Transcripts Example 1 - Document Search with all filters","description":"The above example showcases all available required and optional filters for demonstrative purposes only. These are the filters that are available for you to customize your request.","value":{"properties":{"ciqKeyDevId":[288825578,328442951,271571587,274649619,321490133,330013256,369172356,403610121,415683270,427047503],"miKeyDevId":[12631025,12767976,21927053],"companyId":[323261],"institutionId":[100003],"minTranscriptCreationDate":"2014-10-01","maxTranscriptCreationDate":"2014-12-20","documentFormatTypeId":[3],"languageId":[0,1,2],"fileTypeId":[948,950,953],"fileSource":["SCRIPTS_ASIA","SP_GLOBAL"],"pageNumber":1,"pageSize":500}}},"Transcripts Example 2 - Document Search with institutionId, transcriptCreationDate, and documentFormatId":{"summary":"Transcripts Example 2 - Document Search with institutionId, transcriptCreationDate, and documentFormatId","description":"The above example returns Investor Presentations for NVIDIA Corporation in PDF format with transcript creation date starting from March 23, 2024 to June 20, 2024.","value":{"properties":{"institutionId":[4094286],"minTranscriptCreationDate":"2024-03-23","maxTranscriptCreationDate":"2024-06-20","documentFormatTypeId":[3]}}},"Transcripts Example 3 - Document Search with miKeyDevId and fileTypeId":{"summary":"Transcripts Example 3 - Document Search with miKeyDevId and fileTypeId","description":"The above example returns earnings call transcripts for Nestle SA based on MI Key Development ID.","value":{"properties":{"miKeyDevId":[13674401],"documentFormatTypeId":[3],"fileTypeId":[950]}}},"Transcripts Example 4 - Document Search with transcriptCreationDate, and documentFormatTypeId":{"summary":"Transcripts Example 4 - Document Search with transcriptCreationDate, and documentFormatTypeId","description":"The above example returns all transcripts in MP3 format for a single date, i.e. February 22, 2024.","value":{"properties":{"minTranscriptCreationDate":"2024-02-22","maxTranscriptCreationDate":"2024-02-22","documentFormatTypeId":[17]}}},"SNL Insurance Product Filings Example 1 - Document Search with all Filters":{"summary":"SNL Insurance Product Filings Example 1 - Document Search with all Filters","description":"The above example showcases all available required and optional filters for demonstrative purposes only. These are the filters that are available for you to customize your request.","value":{"properties":{"institutionId":[11982],"serffFilingStateId":["CA","PA"],"filingStatusId":[4,0],"trackingNumber":["ACEH-134199567","ACEH-134291076","ACEH-134251573"],"spStatEntityId":["C394"],"companyId":[4973721],"typeOfInsuranceId":[0,1,2,5,17,22],"minPublishDate":"2024-11-10","maxPublishDate":"2024-11-15","serffFilingTypeId":[0,2],"pageNumber":1,"pageSize":500}}},"SNL Insurance Product Filings Example 2 - Document Search with only mandatory Filters":{"summary":"SNL Insurance Product Filings Example 2 - Document Search with only mandatory Filters","description":"The above example showcases all available required filters for demonstrative purposes only. These are the mandatory filters that are available for you to customize your request.","value":{"properties":{"institutionId":[11982],"serffFilingStateId":["CA","PA","FL"],"filingStatusId":[0,1,2,3,4,5],"minPublishDate":"2023-11-15","maxPublishDate":"2024-11-10"}}},"SNL Insurance Product Filings Example 3 - Document Search for insurance of type CMP Liability Portion Only":{"summary":"SNL Insurance Product Filings Example 3 - Document Search for insurance of type CMP Liability Portion Only","description":"The above example returns all insurance documents for Pacific Indemnity Company with insurance type '05.2 CMP Liability Portion Only' with published date starting on December 1, 2024, and ending on December 31, 2024.","value":{"properties":{"institutionId":[13484],"typeOfInsuranceId":[7],"serffFilingStateId":["DE","TN","VT"],"filingStatusId":[1,2,3,4,5,6,7,8,9,10],"minPublishDate":"2024-12-01","maxPublishDate":"2024-12-28"}}},"SNL Insurance Product Filings Example 4 - Document Search for a given tracking numbers":{"summary":"SNL Insurance Product Filings Example 4 - Document Search for a given tracking numbers","description":"The above example returns all approved insurance filings for Liberty Mutual Insurance Company for a given tracking numbers.","value":{"properties":{"companyId":[46907436],"typeOfInsuranceId":[21],"serffFilingStateId":["DE","TN","VT"],"filingStatusId":[4],"trackingNumber":["LINU-134311136","LBPM-134210226","LWCM-134278998","LBPM-133470432","LBPM-134279824","LBPM-133930803","LBPM-133470432"],"minPublishDate":"2024-01-01","maxPublishDate":"2024-12-28"}}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseData"}}}},"401":{"description":"User unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"403":{"description":"Entitlement needed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"429":{"description":"Too many requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Missing parameters/Invalid data type/Invalid value/Invalid range/Minimum characters required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"404":{"description":"Invalid endpoint/Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"500":{"description":"Unknown Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}}}}},"/api/v1/download":{"post":{"tags":["02. Download"],"summary":"This endpoint allows you to download the document based on the output obtained through the Search endpoint.","description":"<p></p>Begin your document download by specifying the document type in the primary filter, <b>docType</b>, in the Parameters section below. Only one document can be downloaded per request.\nSelect the value as below\n <ul>\n  <li>FILINGS_DOCUMENTS_API for Filings</li>\n  <li>TRANSCRIPTS_DOCUMENTS_API for Transcripts</li>\n  <li>INSPRODFILINGS_DOCUMENTS_API for SNL Insurance Product Filings</li>\n </ul></br></br>\nSimply input each required and optional parameter in the query. The unique filters by docType are listed below.\n<ul>\n<li><b><u>Required Filters:</u></b>\n<ul>\n<li><b>Filings Documents:</b> Choose either documentId, documentVersionId, filingId, or filingVersionId.</li>\n<li><b>Transcripts Documents:</b> Choose either documentVersionId or transcriptVersionId or (documentId and documentFormatTypeId) or (transcriptDocumentId and documentFormatTypeId).</li>\n<li><b>SNL Insurance Product Filings:</b> Choose either documentId or filingVersionId.</li>\n</ul>\n</li>\n<li><b><u>Optional Filters:</u></b>\n<ul>\n<li><b>Filings Documents:</b> Choose documentFormatTypeId for the supported format conversions. See the <a target=\"_blank\" href=\"https://www.support.marketplace.spglobal.com/en/datasets/alternative/filings/machine-readable-filings-user-guide\">Machine Readable Filings User Guide</a> for more information on all available combinations.</li>\n</ul>\n</li>\n</ul>\n<br/><b>Note:</b>\n<ul>\n<li>Throttling Limit of 1000(Hourly) is applied for the total number of download requests on Production account.</li>\n<li>Throttling Limit of 500(Hourly) is applied for the total number of download requests on Trial account.</li>\n</ul><br/>\nDocument download from some file sources might require additional capabilities. If you wish to update your subscription, please reach out to your account representative/Enterprise API Support <a href ='mailto:support.api.mi@spglobal.com'>support.api.mi@spglobal.com</a>.<br/>\n","operationId":"documentDownload","parameters":[{"name":"docType","in":"query","description":"Select document type from available document services.\nThe available document types currently include:\n<ul>\n<li><b>Filings</b> – See the <a target=\"_blank\" href=\"https://www.support.marketplace.spglobal.com/en/datasets/alternative/filings/machine-readable-filings-user-guide\">Machine Readable Filings User Guide</a> for more information.</li>\n<li><b>Transcripts</b> – See the <a target=\"_blank\" href=\"https://www.support.marketplace.spglobal.com/en/datasets/alternative/transcripts/transcripts-user-guide\">Transcripts User Guide</a> for more information.</li>\n<li><b>SNL Insurance Product Filings</b> – See the <a target=\"_blank\" href=\"https://www.support.marketplace.spglobal.com/en/datasets/snl/snlinsuranceproductfilings/snl-insurance-product-filings-user-guide\"> SNL Insurance Product Filings User Guide</a> for more information.</li>\n</ul>","required":true,"schema":{"type":"string","enum":["FILINGS_DOCUMENTS_API","TRANSCRIPTS_DOCUMENTS_API","INSPRODFILINGS_DOCUMENTS_API"]}}],"requestBody":{"description":"The following sample requests include the mandatory and a selection of optional filters per Document Type.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentRequest"},"examples":{"Filings Example 1 - Document download using filingVersionId":{"summary":"Filings Example 1 - Document download using filingVersionId","description":"Download the document by providing the filingVersionId.","value":{"properties":{"filingVersionId":"3E85DF74-A087-4351-A570-DBE81B7C6B23"}}},"Filings Example 2 - Document download using filingId":{"summary":"Filings Example 2 - Document download using filingId","description":"Download the document by providing the filingId.","value":{"properties":{"filingId":11430928}}},"Filings Example 3 - Document download using documentId":{"summary":"Filings Example 3 - Document download using documentId","description":"Download the document by providing the documentId.","value":{"properties":{"documentId":251878}}},"Filings Example 4 - Document download using documentVersionId":{"summary":"Filings Example 4 - Document download using documentVersionId","description":"Download the document by providing the documentVersionId.","value":{"properties":{"documentVersionId":251879}}},"Filings Example 5 - Document download with format conversion":{"summary":"Filings Example 5 - Document download with format conversion","description":"Download the document by providing filingVersionId and documentFormatTypeId with a single value, i.e. HTML(2) or PDF(3).","value":{"properties":{"filingVersionId":"3E85DF74-A087-4351-A570-DBE81B7C6B23","documentFormatTypeId":3}}},"Transcripts Example 1 - Document download using transcriptVersionId":{"summary":"Transcripts Example 1 - Document download using transcriptVersionId","description":"Download the document by providing the transcriptVersionId.","value":{"properties":{"transcriptVersionId":"5385FC0D-87CD-44C4-B97F-21817CB7AE63"}}},"Transcripts Example 2 - Document download using transcriptDocumentId and documentFormatTypeId":{"summary":"Transcripts Example 2 - Document download using transcriptDocumentId and documentFormatTypeId","description":"Download the document by providing the transcriptDocumentId and documentFormatTypeId.","value":{"properties":{"transcriptDocumentId":224853433,"documentFormatTypeId":3}}},"Transcripts Example 3 - Document download using documentVersionId":{"summary":"Transcripts Example 3 - Document download using documentVersionId","description":"Download the document by providing the documentVersionId.","value":{"properties":{"documentVersionId":-1855336850}}},"Transcripts Example 4 - Document download using documentId and documentFormatTypeId":{"summary":"Transcripts Example 4 - Document download using documentId and documentFormatTypeId","description":"Download the document by providing the documentId and documentFormatTypeId.","value":{"properties":{"documentId":-1855424124,"documentFormatTypeId":7}}},"SNL Insurance Product Filings Example 1 - Document download using documentId":{"summary":"SNL Insurance Product Filings Example 1 - Document download using documentId","description":"Download the document by providing the documentId.","value":{"properties":{"documentId":86287457}}},"SNL Insurance Product Filings Example 2 - Document download using filingVersionId":{"summary":"SNL Insurance Product Filings Example 2 - Document download using filingVersionId","description":"Download the document by providing the filingVersionId.","value":{"properties":{"filingVersionId":"569E0C8F-EC10-708A-C98D-C7FA7D5412BB"}}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"binary"}}}},"401":{"description":"User unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"403":{"description":"Entitlement needed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"429":{"description":"Too many requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Missing parameters/Invalid data type/Invalid value/Invalid range/Minimum characters required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"404":{"description":"Invalid endpoint/Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"500":{"description":"Unknown Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}}}}},"/api/v1/bulkdownload/checkstatus":{"get":{"tags":["03. Bulk Download"],"summary":"This endpoint allows you to check the current status of jobId obtained using the submitrequest endpoint.","description":"By default, status of all the requests submitted by you over the last 7 days will be displayed.\nSimply input one of the below optional parameters if you are looking for a specific jobId:\n<ul>\n  <li>jobId,jobStatus,jobSubmittedDate,jobCompletedDate</li>\n</ul>\n\nOnce jobId is completed with jobStatus 'SUCCESS', you can retrieve the documents by connecting to the API Drive location.\n\nSee the User Guide in the docType parameter section below for more information.","operationId":"getStatus","parameters":[{"name":"docType","in":"query","description":"Select document type from available document services.\nThe available document types currently include:\n<ul>\n<li><b>Filings</b> – See the <a target=\"_blank\" href=\"https://www.support.marketplace.spglobal.com/en/datasets/alternative/filings/machine-readable-filings-user-guide\">Machine Readable Filings User Guide</a> for more information.</li>\n<li><b>Transcripts</b> – See the <a target=\"_blank\" href=\"https://www.support.marketplace.spglobal.com/en/datasets/alternative/transcripts/transcripts-user-guide\">Transcripts User Guide</a> for more information.</li>\n<li><b>SNL Insurance Product Filings</b> – See the <a target=\"_blank\" href=\"https://www.support.marketplace.spglobal.com/en/datasets/snl/snlinsuranceproductfilings/snl-insurance-product-filings-user-guide\"> SNL Insurance Product Filings User Guide</a> for more information.</li>\n</ul>","required":true,"schema":{"type":"string","enum":["FILINGS_DOCUMENTS_API","TRANSCRIPTS_DOCUMENTS_API","INSPRODFILINGS_DOCUMENTS_API"]}},{"name":"jobId","in":"query","description":"Unique Identifier for the job created for fetching the Bulk documents.","required":false,"schema":{"type":"string"}},{"name":"jobStatus","in":"query","description":"Status of the job. The possible returns are:\n<ul>\n<li>ACKNOWLEDGED</li>\n<li>IN_PROGRESS</li>\n<li>SUCCESS</li>\n<li>FAILED</li>\n<li>PARTIAL_SUCCESS</li>\n</ul>\nWhen a specific job is completed with SUCCESS or PARTIAL_SUCCESS, a new folder in the API Drive location is created with this jobId and all the files are loaded in this folder.","required":false,"schema":{"type":"string","enum":["ACKNOWLEDGED","IN_PROGRESS","PARTIAL_SUCCESS","SUCCESS","FAILED"]}},{"name":"jobSubmittedDate","in":"query","description":"Date and time when the job was submitted.","required":false,"schema":{"type":"string"}},{"name":"jobCompletedDate","in":"query","description":"Date and time when the job was completed.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseData"}}}},"401":{"description":"User unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"403":{"description":"Entitlement needed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"429":{"description":"Too many requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Missing parameters/Invalid data type/Invalid value/Invalid range/Minimum characters required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"404":{"description":"Invalid endpoint/Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"500":{"description":"Unknown Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}}},"x-order":{"order":"1"}}},"/api/v1/bulkdownload/submitrequest":{"post":{"tags":["03. Bulk Download"],"summary":"This endpoint allows you to submit the bulk download request based on the input parameters provided and obtain the unique jobId to retrieve the documents through API Drive location.","description":"<p></p>Begin your document search by specifying the document type in the primary filter, docType, in the Parameters section below. Select the appropriate value for your search.\n<ul>\n  <li>FILINGS_DOCUMENTS_API for Filings</li>\n  <li>TRANSCRIPTS_DOCUMENTS_API for Transcripts</li>\n  <li>INSPRODFILINGS_DOCUMENTS_API for SNL Insurance Product Filings</li>\n</ul>\n</br></br>\nSimply input each required and optional parameter in the query. The unique filters by docType are listed below.\n<ul>\n  <li><b><u>Required Filters:</u></b>\n    <ul>\n      <li><b>Filings Documents:</b> Choose fileSource(limit 1) and fileTypeId(limit 1) and choose at least one additional pair of Date filters:\n          <br/>minFilingDate/maxFilingDate, minPeriodDate/maxPeriodDate, minProcessedDate/maxProcessedDate (limitation  of 2 years per request for all date filter pairs).\n      </li>\n      <li><b>Transcripts Documents:</b> Choose fileSource(limit 1), fileTypeId(limit 1), documentFormatTypeId(limit 1) and minTranscriptCreationDate/maxTranscriptCreationDate (limitation of 2 years per request)\n      </li>\n      <li><b>SNL Insurance Product Filings Documents:</b> Choose serffFilingStateId(limit 10), filingStatusId(limit 5) and minPublishDate/ maxPublishDate (limitation of 2 years per request) </li>\n    </ul>\n  </li>\n  <li><b><u>Optional Filters:</u></b> Each document type offers optional parameters for you to refine the set of documents. Choose from the available optional filters in each document type:\n    <ul>\n      <li><b>Filings Documents:</b> companyId(limit 200), institutionId(limit 200)</li>\n      <li><b>Transcripts Documents:</b> companyId(limit 200), institutionId(limit 200)</li>\n      <li><b>SNL Insurance Product Filings Documents:</b> companyId(limit 200), institutionId(limit 200)</li>\n    </ul>\n  </li>\n</ul>\nSome file sources might require additional capabilities. If you wish to update your subscription, please reach out to your account representative/Enterprise API Support <a href ='mailto:support.api.mi@spglobal.com'>support.api.mi@spglobal.com</a>. <br/><br/>","operationId":"bulkDownload","parameters":[{"name":"docType","in":"query","description":"Select document type from available document services.\nThe available document types currently include:\n<ul>\n<li><b>Filings</b> – See the <a target=\"_blank\" href=\"https://www.support.marketplace.spglobal.com/en/datasets/alternative/filings/machine-readable-filings-user-guide\">Machine Readable Filings User Guide</a> for more information.</li>\n<li><b>Transcripts</b> – See the <a target=\"_blank\" href=\"https://www.support.marketplace.spglobal.com/en/datasets/alternative/transcripts/transcripts-user-guide\">Transcripts User Guide</a> for more information.</li>\n<li><b>SNL Insurance Product Filings</b> – See the <a target=\"_blank\" href=\"https://www.support.marketplace.spglobal.com/en/datasets/snl/snlinsuranceproductfilings/snl-insurance-product-filings-user-guide\"> SNL Insurance Product Filings User Guide</a> for more information.</li>\n</ul>","required":true,"schema":{"type":"string","enum":["FILINGS_DOCUMENTS_API","TRANSCRIPTS_DOCUMENTS_API","INSPRODFILINGS_DOCUMENTS_API"]}}],"requestBody":{"description":"The following sample requests include the mandatory and a selection of optional filters per document type.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentRequest"},"examples":{"Filings Example 1 - Document Search with all filters":{"summary":"Filings Example 1 - Document Search with all filters","description":"The above example showcases all available required and optional filters for demonstrative purposes only. These are the filters that are available for you to customize your request.","value":{"properties":{"institutionId":[4135343,4004265,4044333,4004092,4059821,3009080,4623856,4092820,4404124,4250855,4182587],"companyId":[29002,288502,139677,247483,285467,162270,25798,24816,687130,336774,382553],"minFilingDate":"2025-02-20","maxFilingDate":"2025-02-27","minPeriodDate":"2024-12-31","maxPeriodDate":"2025-01-30","minProcessedDate":"2025-02-20","maxProcessedDate":"2025-02-27","fileTypeId":[142],"fileSource":["EDGAR_SYSTEM"]}}},"Filings Example 2 - Document Search with required filters":{"summary":"Filings Example 2 - Document Search with required filters","description":"Create a job to download 10-K documents from  EDGAR that were filed in the week between January 7 and 14, 2023.","value":{"properties":{"minFilingDate":"2023-01-07","maxFilingDate":"2023-01-14","fileTypeId":[142],"fileSource":["EDGAR_SYSTEM"]}}},"Transcripts Example 1 - Document Search with all filters":{"summary":"Transcripts Example 1 - Document Search with all filters","description":"The above example showcases all available required and optional filters for demonstrative purposes only. These are the filters that are available for you to customize your request.","value":{"properties":{"companyId":[323261],"institutionId":[100003],"minTranscriptCreationDate":"2014-10-01","maxTranscriptCreationDate":"2014-12-20","documentFormatTypeId":[3],"fileTypeId":[950],"fileSource":["SP_GLOBAL"]}}},"Transcripts Example 2 - Document Search with required filters":{"summary":"Transcripts Example 2 - Document Search with required filters","description":"Create a job to download Earnings Calls transcripts  from S&P Global's Filings Services that were created in the week between December 1 and 7, 2024, in PDF format.","value":{"properties":{"minTranscriptCreationDate":"2024-12-01","maxTranscriptCreationDate":"2024-12-07","documentFormatTypeId":[3],"fileTypeId":[950],"fileSource":["SP_GLOBAL"]}}},"SNL Insurance Product Filings Example 1 - Document Search with all Filters":{"summary":"SNL Insurance Product Filings Example 1 - Document Search with all Filters","description":"The above example showcases all available required and optional filters for demonstrative purposes only. These are the filters that are available for you to customize your request.","value":{"properties":{"serffFilingStateId":["CA"],"filingStatusId":[4],"minPublishDate":"2024-11-10","maxPublishDate":"2024-11-15","companyId":[4973721],"institutionId":[11982]}}},"SNL Insurance Product Filings Example 2 - Document Search with required Filters":{"summary":"SNL Insurance Product Filings Example 2 - Document Search with required Filters","description":"Create a job to download SNL Insurance Products Filings that were approved and published in Texas in the week between March 24 and 31, 2024.","value":{"properties":{"serffFilingStateId":["TX"],"filingStatusId":[0],"minPublishDate":"2024-03-24","maxPublishDate":"2024-03-31"}}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseData"}}}},"401":{"description":"User unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"403":{"description":"Entitlement needed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"429":{"description":"Too many requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Missing parameters/Invalid data type/Invalid value/Invalid range/Minimum characters required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"404":{"description":"Invalid endpoint/Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"500":{"description":"Unknown Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}}},"x-order":{"order":"2"}}},"/api/v1/reference":{"get":{"tags":["04. Reference"],"summary":"This endpoint provides the possible values and their descriptions for reference fields.","description":"<p></p>Begin your reference lookup by specifying the document type in the primary filter, docType, in the Parameters section below. Select the value as below\n<ul>\n  <li>FILINGS_DOCUMENTS_API for Filings</li>\n  <li>TRANSCRIPTS_DOCUMENTS_API for Transcripts</li>\n  <li>INSPRODFILINGS_DOCUMENTS_API for SNL Insurance Product Filings</li>\n</ul>\n</br></br>\n<p></p>The values of the referenceField depend on the docType.\n</br>\n<p></p>Provide a value for docType and referenceField.","operationId":"referenceData","parameters":[{"name":"docType","in":"query","description":"Select document type from available document services.\nThe available document types currently include:\n<ul>\n<li><b>Filings</b> – See the <a target=\"_blank\" href=\"https://www.support.marketplace.spglobal.com/en/datasets/alternative/filings/machine-readable-filings-user-guide\">Machine Readable Filings User Guide</a> for more information.</li>\n<li><b>Transcripts</b> – See the <a target=\"_blank\" href=\"https://www.support.marketplace.spglobal.com/en/datasets/alternative/transcripts/transcripts-user-guide\">Transcripts User Guide</a> for more information.</li>\n<li><b>SNL Insurance Product Filings</b> – See the <a target=\"_blank\" href=\"https://www.support.marketplace.spglobal.com/en/datasets/snl/snlinsuranceproductfilings/snl-insurance-product-filings-user-guide\"> SNL Insurance Product Filings User Guide</a> for more information.</li>\n</ul>","required":true,"schema":{"type":"string","enum":["FILINGS_DOCUMENTS_API","TRANSCRIPTS_DOCUMENTS_API","INSPRODFILINGS_DOCUMENTS_API"]}},{"name":"referenceField","in":"query","description":"The relevant lookup parameters are as follows.\n<ul>\n<li><b>Filings:</b> documentFormatType, fileSource, fileType, language. See the <a target=\"_blank\" href=\"https://www.support.marketplace.spglobal.com/en/datasets/alternative/filings/machine-readable-filings-user-guide\">Machine Readable Filings User Guide</a> for more information.</li>\n<li><b>Transcripts:</b> documentFormatType, fileSource, fileType, language, keyDevToObjectRoleType. See the <a target=\"_blank\" href=\"https://www.support.marketplace.spglobal.com/en/datasets/alternative/transcripts/transcripts-user-guide\">Transcripts User Guide</a> for more information.</li>\n<li><b>SNL Insurance Product Filings:</b> typeOfInsurance, filingStatus, serffFilingState, serffFilingType. See the <a target=\"_blank\" href=\"https://www.support.marketplace.spglobal.com/en/datasets/snl/snlinsuranceproductfilings/snl-insurance-product-filings-user-guide\"> SNL Insurance Product Filings User Guide</a> for more information.</li>\n</ul><br/>","required":true,"schema":{"type":"string","enum":["documentFormatType","fileSource","fileType","language","keyDevToObjectRoleType","typeOfInsurance","filingStatus","serffFilingState","serffFilingType"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseData"}}}},"401":{"description":"User unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"403":{"description":"Entitlement needed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"429":{"description":"Too many requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Missing parameters/Invalid data type/Invalid value/Invalid range/Minimum characters required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"404":{"description":"Invalid endpoint/Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"500":{"description":"Unknown Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}}}}}},"components":{"schemas":{"DocumentRequest":{"type":"object","properties":{"properties":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object","description":"Please refer to the user guide for more details."},"description":"Please refer to the user guide for more details."}}}},"ResponseData":{"type":"object","properties":{"numCols":{"type":"integer","description":"Number of columns in response.","format":"int32"},"numRows":{"type":"integer","description":"Number of rows in response.","format":"int32"},"headers":{"type":"array","items":{"type":"string","description":"Please refer to the user guide for more details."}},"rows":{"type":"array","items":{"$ref":"#/components/schemas/ResponseRow"}}}},"ResponseRow":{"type":"object","properties":{"row":{"type":"array","description":"Please refer to the user guide for more details.","items":{"type":"object","description":"Please refer to the user guide for more details."}}},"description":"Please refer to the user guide for more details."},"ApiErrorResponse":{"type":"object","properties":{"status":{"type":"integer","format":"int32"},"timestamp":{"type":"string","format":"date-time"},"requestId":{"type":"string"},"error":{"type":"string"},"message":{"type":"string"}}}},"securitySchemes":{"BearerScheme":{"type":"http","description":"Use [Authenticate](/catalog-service/authenticate) to generate the token.","scheme":"bearer"}}}}